@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Titan+One&family=Varela+Round&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

nav{

    display: flex;
    background-color: #970C10;
    width: 100%;
    height: 60px;
    font-family: 'Titan One', cursive;
    color:white;
    align-items: center;
    font-size: 25px;
    gap: 8px;
}
#btrlogo{
    position:relative;
    width: 70px;
    height: 70px;}
#btrlogo1{
    position: absolute;
    background-color: black;
    width: 70px;
    height: 70px;
    border-radius: 50%;}
#btrlogo1::before{
    content:"";
    position: absolute;
    background-color: #970C10;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    top: 2px;
    left: 1px;}
#btrlogo1::after{
    content:"";
    position: absolute;
    background-color: black;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    top: 4px;
    left: 2px;}
#btrlogo2{
    position: absolute;
    background-color: #970C10;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    top: 6px;
    left: 3px;}
#btrlogo2::before{
    position: absolute;
    background-color: black;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    top: 2px;
    content: "";
    left: 1px;}
#btrlogo2::after{
    position: absolute;
    background-color: #970C10;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 4px;
    content: "";
    left: 2px;}
#btrlogo3{
    position: absolute;
    background-color: black;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    top: 12px;
    left: 6px;}

body{
    height: 2000px;
    background-color: black;
}

#img1{
    position: absolute;
    width: 300px;
    height: 300px;
    right: 50px;
    top: 0px;
    transform: rotateZ(25deg);
}

header{
    position: relative;
    color: white;
    font-family: 'Varela Round', sans-serif;
}

header p{
    width: 50%;
    text-align: center;
    padding: 40px 6% 0px 6%;
    font-size: 20px;
    line-height: 28px;
}

@media(max-width:950px){

    #img1{
        transform:rotateZ(0);
        position: static; 
        justify-self: end;
    }

    header{
        width: 100%;
        display: grid;
        grid-template-columns: auto 300px;
        grid-template-rows: 300px 1fr;
        grid-gap: 0px;
        justify-items: center;
        min-width: 600;
        bottom:60px;
    }
    #p1{
        position: relative;
        justify-self: center;
        align-self: center;
        width: auto;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 0px;
        height: auto;
        top:30px;
    }

    #p2{
        grid-column: 1/3;
        width: auto;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 15px;
    }

}
@media(max-width:700px){
    
    header{
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #img1{
        width: 300px;
    }
    #p1{
        position: static;
        padding-top: 35px;
        padding-bottom: 35px;
    }
}

@media (max-width:400px){

    nav{
        font-size: 18px;
        height: 50px;
        gap:4px;
    }
    #btrlogo{
        transform: scale(.8);
    }
}