*{

    margin: 0;
    padding: 0;

}

div#titulo{

    position: fixed;
    width: 100%;
    background-color: #1f2833;
    color: white;
    height: 120px;
    text-align: center;
    vertical-align: middle;   
    line-height: 120px;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: 600;
}

div#body{

    position: absolute;
    top: 120px;
    width: 100%;
    background-color: black;
    height: 1200px;

}

.video-container{

    display: inline-block;
    width: 300px;
    height: 360px;
    border: solid red 1px;

}

.video-box{

    position: relative;
    top: 60px;
    left: 60px;
    width: 240px;
    height: 300px;
    background-color: white;

}

#video1{

    position: relative;
    background-color: #45a29e;
    width: 240px;
    height: 300px;
    right: 5px;
    bottom: 5px;

}