*{

    margin: 0;
    padding: 0;

}

div#titulo{

    position: fixed;
    top: 0;
    display: flex;
    padding-top: 1vw;
    padding-bottom: 1vw;
    width: 100%;
    background-color: #1f2833;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5vw;
    font-weight: 600;
}

div#body{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: black;
    min-height: 100vh;
    height: auto;

}

.video-box{

    position: relative;
    display: inline-block;
    margin-top: 7vh;
    margin-left: 20px;
    width: 240px;
    height: 300px;
    background-color: #c5c6c7;

}

#titulo h1{

    text-align: center;

}

div#space{

    height: 7.7vw;

}

.video-cover{

    position: relative;
    top: 8px;
    left: 8px;
    width: 224px;
    height: 126px;

}

.boton{

    outline: none;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: white;
    font-size: x-large;

}

.boton-box{

    position: relative;
    border: #66fcf1 solid 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 35px;
    top: 70px;
    left: 17px;

}

.counter{

    position: relative;
    top: 35px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: white;
    font-size: x-large;
    text-align: center;
}

.video{

    position: relative;
    background-color: #45a29e;
    width: 240px;
    height: 300px;
    right: 2px;
    bottom: 2px;

}
