@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;

}

header{
    background-color: hsl(330, 4%, 9%);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: hsl(330, 4%, 20%);
    width: 100%;
    height: max-content;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

h1{
    font-family: 'Roboto', sans-serif;
    color: #e0e5e9;
}

.containers{
    width: 640px;
    height: 180px;
    display: flex;
    gap:0px;
}

.video-covers{
    width: 50%;
    height: 100%;
}

.videos{
    width: 100%;
    height: 100%;
}

.video-description{
    width: 50%;
    height: 100%;
    position: relative;
}

.button{
    width: 50%;
    height: 15%;
    position: absolute;
    bottom: 10%;
    left: 25%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #e0e5e9;
    border: 2px solid #e0e5e9;
}

.button:hover{
    background-color: #e0e5e9;
    color: black;
}

h3{
    color: #e0e5e9;
    position: absolute;
    top: 10px;
    text-align: center;
    left: 10%;
    width: 80%;
}

.number{
    position: absolute;
    top: 45%;
    left: 10%;
    width: 80%;
    text-align: center;
    color: #f3d849;
}

hr{
    width: 640px;
}

@media(max-width:640px){

    .containers{
        flex-direction: column;
        gap: 20px;
        width: 320px;
        height: 360px;
        justify-content: stretch;
        gap:0px;
    }

    .video-covers{
        width: 320px;
        height: 180px;
        flex-shrink: 0;
    }

    .video-description{
        width: 320px;
        height: 180px;
        flex-shrink: 0;
    }

    hr{
        width: 320px;
    }
}